.search {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    align-items: center;
  }
}
.search-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  background: $success-color;
  color: #fff;
  animation: show 1s;
  padding: 16px;
}